doctype html
html
  head
    meta(charset='utf-8')
    link(href='/sylesheets/styles.css', rel='stylesheet')
    title
    //- block scripts
    //-   script
    //-     var elem = document.querySelector('.m-p-g');
    //-     document.addEventListener('DOMContentLoaded', function() {
    //-       var gallery = new MaterialPhotoGallery(elem);
    //-       });
  body
    block content
